env
.env
.venv
.vscode
db.sqlite3
dsd
jjj.txt
.coverage
htmlcov
dxds
*.pyc
staticfiles/admin
staticfiles/assets
staticfiles/ckeditor
staticfiles/django_tinymce
staticfiles/html
staticfiles/js
staticfiles/tinymce
staticfiles/staticfiles.json
media/uploads
*.webm
.DS_Store
eded
.idea/
keep.html
templates/subscription/my_subscription2.html
venv.zip
venv/
wisemen-fe/
stats/ffr.py
src
src_dir
src_testing

